$whiteColorBg:#f8f8f8;
$purpleColor:#835AFD;
$pinkColorSecond:#e559f9;
$pinkColor:#FF59F8;
$textColor:#29292e;
$grayLight:#a8a8b3;
$grayDark:#737380;
$bgGradient:linear-gradient(#485BFF,#FF59F8);

$fontRoboto:'Roboto',sans-serif;
$fontPoppins:'Poppins',sans-serif;